%ul#breadcrumbs
  %ul.crumb<>= link_to 'Library', root_url
  %ul.crumb<>= @artist.name

%ul#things 
  - @artist.albums.each do |album|
    %li= link_to "&mdash; #{album.name}".html_safe, album_url(album)

- if @artist.albums.empty?
  %em== No albums for #{@artist.name}
