%h2= @artist.name
= link_to 'Back to home', root_url

%hr

- @artist.albums.each do |album|
  %li= link_to album.name, album_url(album)

- if @artist.albums.empty?
  %em== No albums for #{@artist.name}
