* {
  font-family: Helvetica, Arial, sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  text-align: center; }
  body #wrapper {
    margin: 0px auto;
    text-align: left;
    width: 960px; }

a, a:visited {
  color: blue;
  text-decoration: none; }

#top {
  margin: 20px 0px; }
  #top #site_name {
    font-size: 18px; }
  #top #controls {
    font-size: 13px;
    float: right; }
    #top #controls a, #top #controls a:visited {
      margin-left: 10px; }

ul#things, ul.things {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-size: 13px; }
  ul#things li, ul.things li {
    margin: 3px 0px; }
  ul#things .runtime, ul.things .runtime {
    margin-left: 5px;
    display: inline-block;
    color: #555555; }

.alert {
  color: white;
  padding: 5px 10px;
  background: #993333; }

.notice {
  color: white;
  padding: 5px 10px;
  background: #993399; }

ul#breadcrumbs {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  font-size: 12px;
  border: 1px solid #dedede;
  height: 2.3em; }
  ul#breadcrumbs .crumb {
    line-height: 2.3em;
    padding-left: 0.75em;
    color: #777777;
    display: inline-block;
    text-decoration: none;
    color: black; }
    ul#breadcrumbs .crumb a, ul#breadcrumbs .crumb a:visited {
      display: block;
      padding: 0 15px 0 0;
      background: url(/images/crumbs.gif) no-repeat right center; }
    ul#breadcrumbs .crumb a:link, ul#breadcrumbs .crumb a:visited {
      text-decoration: none;
      color: #777777; }
    ul#breadcrumbs .crumb a:hover, ul#breadcrumbs .crumb a:focus {
      color: #dd2c0d; }
